In [12]:
from scholarly import scholarly
import ast
import pandas as pd

In [13]:
def filter1(pair):
    wanted_keys = ['coauthors']
    key, value = pair
    if key in wanted_keys:
        return True  # keep pair in the filtered dictionary
    else:
        return False  # filter pair out of the dictionary

In [14]:
def test(lsts, key):
  return [x.get(key) for x in lsts]

In [15]:
def wake_df(id, rank):
    wake_list = ast.literal_eval(str(dict(filter(filter1, scholarly.fill(scholarly.search_author_id(id), sections=['coauthors']).items()))).replace("{'coauthors': ",'').replace("]}",'').replace("'source': <AuthorSource.CO_AUTHORS_LIST: 'CO_AUTHORS_LIST'>,",'') + ']')
    wake_dict = {test(wake_list, 'name')[i]: test(wake_list, 'scholar_id')[i] for i in range(len(test(wake_list, 'name')))}
    wake_1 = pd.DataFrame.from_dict(wake_dict, orient='index').reset_index()
    wake_1.columns = ['Name', 'ID']
    wake_1['Wake #'] = rank
    wake1 = wake_1.set_index('Wake #')
    return wake1

In [23]:
wake_df('HSOT-GcAAAAJ', 1)

                         Name            ID
Wake #
1         Stephen Randal Voss  QIo-GY4AAAAJ
1              Robert B. Page  rrC_pxsAAAAJ
1           James R. Monaghan  kdOUkAEAAAAJ
1              Andrew Storfer  mIIzkBcAAAAJ
1              Travis J. Ryan  gLW69DEAAAAJ
1               Scott Pronych  NVp0SLUAAAAJ
1                  Dean Adams  u2-9j0YAAAAJ
1               Dustin Siegel  4P7zj0sAAAAJ
1              David M. Sever  iY7TklEAAAAJ
1       Cari-Ann M. Hickerson  HTxM0sAAAAAJ
1                 David Smith  ARUXFgMAAAAJ